# imports

In [6]:
import pandas as pd
import numpy as np

# Data

In [17]:
df = pd.read_csv('SBAnational.csv')

/var/folders/d0/5dr5q0n145vcn3_m9dxy1xq80000gn/T/ipykernel_39248/2640212651.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SBAnational.csv')

In [18]:
df1 = df.copy()

In [19]:
# data dictionary

Variable Name	    Description
LoanNr_ChkDgt	    Identifier Primary key
Name	            Borrower name
City	            Borrower city
State	            Borrower state
Zip	                Borrower zip code
Bank	            Bank name
BankState	        Bank state
NAICS	            North American industry classification system code
ApprovalDate	    Date SBA commitment issued
ApprovalFY	        Fiscal year of commitment
Term	            Loan term in months
NoEmp	            Number of business employees
NewExist	        1 = Existing business, 2 = New business
CreateJob	        Number of jobs created
RetainedJob	        Number of jobs retained
FranchiseCode	    Franchise code, (00000 or 00001) = No franchise
UrbanRural	        1 = Urban, 2 = rural, 0 = undefined
RevLineCr	        Revolving line of credit: Y = Yes, N = No
LowDoc	            LowDoc Loan Program: Y = Yes, N = No
ChgOffDate	        The date when a loan is declared to be in default
DisbursementDate	Disbursement date
DisbursementGross	Amount disbursed
BalanceGross	    Gross amount outstanding
MIS_Status	        Loan status charged off = CHGOFF, Paid in full =PIF
ChgOffPrinGr	    Charged-off amount
GrAppv	            Gross amount of loan approved by bank
SBA_Appv	        SBA’s guaranteed amount of approved loan

# prepare

# data check

In [20]:
df.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

In [27]:
nums = df.select_dtypes(exclude = object)
cats = df.select_dtypes(include = object)

# data check

# data types

In [35]:
num.as

0         2.0
1         2.0
2         1.0
3         1.0
4         1.0
         ...
899159    1.0
899160    1.0
899161    1.0
899162    1.0
899163    2.0
Name: NewExist, Length: 899164, dtype: float64

# data types

In [21]:
# dropping 	LoanNr_ChkDgt due to being a primary key, index is fine.
df.drop(columns= 'LoanNr_ChkDgt',inplace=True)

# date time fixes

In [22]:
# convert the 'dated' columns to datetime format
df['ApprovalDate'] = pd.to_datetime(df['ApprovalDate'], format='%d-%b-%y')

In [23]:
df['DisbursementDate'] = pd.to_datetime(df['DisbursementDate'], format='%d-%b-%y')

# date time fixes

In [24]:
df

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,84,...,N,Y,NaN,1999-02-28,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,60,...,N,Y,NaN,1997-05-31,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,180,...,N,N,NaN,1997-12-31,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,60,...,N,Y,NaN,1997-06-30,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,240,...,N,N,NaN,1997-05-14,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899159,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,1997-02-27,1997,60,...,0,N,NaN,1997-09-30,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,1997-02-27,1997,60,...,Y,N,NaN,1997-10-31,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,1997-02-27,1997,108,...,N,N,NaN,1997-09-30,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,1997-02-27,1997,60,...,N,Y,8-Mar-00,1997-03-31,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,1997-02-27,1997,48,...,N,N,NaN,1997-05-31,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"